dify/Confluence2Md.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Confluence2Md
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1751342073661-source-1751342697278-target
      source: '1751342073661'
      sourceHandle: source
      target: '1751342697278'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Confluence Page Number
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: page_number
      height: 89
      id: '1751342073661'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1751342094569'
          - text
          variable: text
        selected: false
        title: End
        type: end
      height: 89
      id: '1751342096873'
      position:
        x: 497
        y: 563
      positionAbsolute:
        x: 497
        y: 563
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: Confluence Page Number
            ja_JP: Confluence Page Number
            pt_BR: Confluence Page Number
            zh_Hans: Confluence Page Number
          llm_description: ''
          max: null
          min: null
          name: page_number
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          page_number: ''
        provider_id: a6e600b1-08a3-4f01-8e88-82a154a26fba
        provider_name: Confluence2Md
        provider_type: workflow
        selected: false
        title: Confluence2Md
        tool_configurations: {}
        tool_description: Get a confluence page and response text in markdown format.
        tool_label: Confluence2Md
        tool_name: confluence_to_markdown
        tool_parameters: {}
        type: tool
      height: 53
      id: '1751342697278'
      position:
        x: 184
        y: 405
      positionAbsolute:
        x: 184
        y: 405
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 218
      y: -202
      zoom: 1
