dify/SRS Insights.yml
app:
  description: Start with a high-level overview to get a sense of the project’s scope,
    key features, and overall goals.
  icon: 📝
  icon_background: '#D1E9FF'
  mode: workflow
  name: SRS Insights
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.0.6@7d66a960a68cafdcdf5589fdf5d01a995533f956853c69c54eddcf797006fa37
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1751275131351-source-1751275134874-target
      source: '1751275131351'
      sourceHandle: source
      target: '1751275134874'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1751275115886-source-1751342748686-target
      source: '1751275115886'
      sourceHandle: source
      target: '1751342748686'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1751342748686-source-1751275131351-target
      source: '1751342748686'
      sourceHandle: source
      target: '1751275131351'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Confluence Page Number
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: page_number
      height: 89
      id: '1751275115886'
      position:
        x: 40
        y: 224
      positionAbsolute:
        x: 40
        y: 224
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            num_ctx: 16000
          mode: chat
          name: gemma3:4b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: c2a64337-9ae8-41d4-bbf5-cdf958453953
          role: system
          text: 'Understanding a System Requirements Specification. Then, rewrite
            the following sections:

                - **Introduction:** Provides context and the project''s purpose.

                - **System Overview:** Describes the system’s architecture and key
            components.

                - **Functional Requirements:** This section is crucial; it details
            exactly what the software must do.

                - **Non-Functional Requirements:** (e.g., Performance, Security, Usability)
            – These define how the system should behave.'
        - id: eeb305b1-a3a9-4af0-beb3-b42087733add
          role: user
          text: 'System Requirements Specification: {{#1751342748686.text#}}'
        selected: false
        title: ' Initial Scan & Overview'
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1751275131351'
      position:
        x: 231
        y: 455
      positionAbsolute:
        x: 231
        y: 455
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1751275131351'
          - text
          variable: text
        selected: false
        title: End
        type: end
      height: 89
      id: '1751275134874'
      position:
        x: 344
        y: 617
      positionAbsolute:
        x: 344
        y: 617
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: Confluence Page Number
            ja_JP: Confluence Page Number
            pt_BR: Confluence Page Number
            zh_Hans: Confluence Page Number
          llm_description: ''
          max: null
          min: null
          name: page_number
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          page_number: ''
        provider_id: a6e600b1-08a3-4f01-8e88-82a154a26fba
        provider_name: Confluence2Md
        provider_type: workflow
        selected: false
        title: Confluence2Md
        tool_configurations: {}
        tool_description: Get a confluence page and response text in markdown format.
        tool_label: Confluence2Md
        tool_name: confluence_to_markdown
        tool_parameters:
          page_number:
            type: mixed
            value: '{{#1751275115886.page_number#}}'
        type: tool
      height: 53
      id: '1751342748686'
      position:
        x: 162
        y: 351
      positionAbsolute:
        x: 162
        y: 351
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 68
      y: -105
      zoom: 1
